# Your tools may add their own folders and files to the project.
# Ignoring those within your global gitignore will make it so
# they will never get commited within any project you have.

composer.phar
/composer.lock

rector-temp-phpstan.neon

.php-cs-fixer.cache
.phpunit.cache/

infection.log

/.build/composer.lock
/.build/php-cs-fixer/
!/.build/php-cs-fixer/.gitkeep
/.build/phpstan/
!/.build/phpstan/.gitkeep
/.build/phpunit/
!/.build/phpunit/.gitkeep

/.build/vendor
/.build/logs/

/vendor/
/node_modules/
